<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.note.workspace.mapper.FolderMapper">
    <resultMap id="folderMap" type="com.note.workspace.entity.Folder">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="label" column="label"/>
        <result property="type" column="type"/>
        <result property="edit" column="edit"/>
        <result property="icon" column="icon"/>
        <result property="parentId" column="parent_id"/>
        <collection property="children" ofType="com.note.workspace.entity.Folder" javaType="java.util.List" column="id"
                    select="getTree"/>
    </resultMap>
    <select id="getTree" resultMap="folderMap">
        select *
        from folder
        where parent_id = #{pid};
    </select>

    <update id="rename" parameterType="String">
        update folder
        set label=#{label}
        where id = #{id}
    </update>
</mapper>