<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.note.workspace.mapper.WorkspaceMapper">
    <resultMap id="workspaceMap" type="com.note.workspace.entity.Workspace">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="label" column="label"/>
        <result property="type" column="type"/>
        <result property="edit" column="edit"/>
        <result property="icon" column="icon"/>
        <result property="uid" column="uid"/>
        <collection property="children" ofType="com.note.workspace.entity.Workspace" javaType="java.util.List" column="{id=id}" select="getChild"/>
    </resultMap>
    <select id="getTree" resultMap="workspaceMap">
        select * from workspace where uid=#{id} and type='workspace' and deleted=0 ORDER BY create_time ASC;
    </select>

    <select id="getChild" resultMap="workspaceMap">
        select *
        from workspace
        where parent_id = #{id} and type IN ('folder','note') and deleted=0;
    </select>
</mapper>